@model Productos

<h2>Editar producto</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="IdProducto" />

    <div class="form-group">
        <label asp-for="Descripcion" class="form-label">Descripcion</label>
        <input asp-for="Descripcion" value="@Model.Descripcion" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Precio" class="form-label">Precio</label>
        <input asp-for="Precio" value="@Model.Precio" class="form-control" />
    </div>

    <button type="submit" class="btn btn-success mt-3">Guardar cambios</button>
    <a asp-action="Index" class="btn btn-secondary mt-3">Cancelar</a>
</form>