@model tp8.ViewModels.ProductoViewModel

<h2>Editar producto</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="IdProducto" />

    <div class="form-group">
        <label asp-for="Descripcion" class="form-label"></label>
        <input asp-for="Descripcion" class="form-control" />
        <span asp-validation-for="Descripcion" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Precio" class="form-label"></label>
        <input asp-for="Precio" class="form-control" />
        <span asp-validation-for="Precio" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success mt-3">Guardar cambios</button>
    <a asp-action="Index" class="btn btn-secondary mt-3">Cancelar</a>
</form>