@model List<Presupuestos>


<div class="text-center">
<h1 class="display-4">Presupuestos</h1>
    <table class="table table-striped">
        <thead>
            <th>ID</th>
            <th>Destinatario</th>
            <th>Fecha creacion</th>
        </thead>
        <tbody>
            @foreach (var presupuesto in Model)
            {
                <tr>
                    <td>@presupuesto.IdPresupuesto</td>
                    <td>@presupuesto.NombreDestinatario</td>
                    <td>@presupuesto.FechaCreacion.ToString("dd/MM/yyyy")</td>
                    <td>
                        <a asp-action = "Details" asp-route-id= "@presupuesto.IdPresupuesto" class="btn btn-sm btn-info">Ver Detalle</a>
                    </td>
                </tr>
            }
        </tbody>    
    </table>
</div>
